# .github/workflows/ci.yml
name: Laravel CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  DB_CONNECTION: mysql
  DB_HOST: 127.0.0.1
  DB_PORT: 3306
  DB_DATABASE: laravel_test
  DB_USERNAME: laravel
  DB_PASSWORD: secret
  APP_ENV: testing
  APP_URL: http://localhost

jobs:
  ci_laravel:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: laravel_test
          MYSQL_USER: laravel
          MYSQL_PASSWORD: secret
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -u laravel -psecret"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, pdo, pdo_mysql
          tools: composer

      - name: Install Composer dependencies
        run: composer install --no-progress --no-interaction --prefer-dist

      - name: Setup environment
        run: |
          cp .env.ci .env
          php artisan key:generate

      - name: Run Migrations
        run: php artisan migrate --force
        
      - name: build frontend assets
        run: npm install && npm run build

      - name: Indent Code
        run: ./vendor/bin/pint

      - name: Sanity Check
        run: |
          vendor/bin/phpstan analyse -l 8 app
          php artisan insights --no-ansi --summary --no-interaction
      
      - name: Testing
        run: php artisan test

      - name: Deployment
        if: github.ref == 'refs/heads/main'
        env:
          SSH_KEY: ${{ secrets.O2SWITCH_SSH_KEY }}
          SSH_USER: ${{ secrets.O2SWITCH_USER }}
          SSH_HOST: ${{ secrets.O2SWITCH_HOST }}
          DEPLOY_PATH: ${{ secrets.APP_PATH }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $SSH_HOST >> ~/.ssh/known_hosts

          # 1. Déploiement des fichiers
          rsync -avz --exclude=".git" --exclude="node_modules" --exclude=".htaccess" --delete ./ $SSH_USER@$SSH_HOST:$DEPLOY_PATH

          # 2. Commandes Laravel à distance
          ssh $SSH_USER@$SSH_HOST << EOF
            cd $DEPLOY_PATH

            composer install --no-dev --optimize-autoloader
            npm install
            npm run build
            php artisan migrate --force
          EOF